// Colors

$primary-bg-color: #e5e5e5;
$secondary-bg-color: #f9f9f9;
$third-bg-color: #ededf0;

$primary-text-color: #19191d;
$secondary-text-color: #777;
$third-text-color: #787885;
$fourth-text-color: #5e6366;

$primary-button-color: #2264d1;
$secondary-button-color: #9dc2ff;
$third-button-color: #2979ff;
$fourth-button-color: #1671c0;

$star-color: #fb8200;
$check-color: #459e31;

$white: #fff;
$black: #000;

$primary-border-color: #bcbdbc;
$secondary-border-color: #5a5b6a;
$third-border-color: #f0f0f0;

// Media Sizes

$mobile-1: 376px;
